.addButton{
    color:  #0d2714;
    background-color: #49c85d;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 5px ;
    width: 8em;
}
.addButton:hover{
   
    background-color:  #35b148;
 }
.editButton{
    color:  #0d2714;
    background-color: #eeeca3;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    width: 8em;
    text-decoration: none;
}
.editButton:hover{
    background-color: #d0ce86;
}

.saveButton{
    color:  #0d2714;
    background-color: #49c85d;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    width: 8em;
}
.saveButton:hover{
   
    background-color:  #35b148;
 }
.removeButton{
    color:  #0d2714;
    background-color: #da4444;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    width: 8em;
}
.removeButton:hover{
    background-color: #b52b2b;
}