.clickable {
    cursor: pointer;
}

.movecenter{
    display: flex;
    justify-content: center;
   
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.ingredientInput {
    border-radius: 5px;
    border: none;
    height: 1.5em;
    margin: 0.2em;
    width: 120%;
}


.biginput{
    width: 9em;
}

.bigtext{
    font-size: 1.2em;
}

.biggertext{
    font-size: 1.5em;
}

.centerrow{
    display: flex;
    justify-content: center;
}

.ref{
    position: relative;
}

.text{
    padding: 1em;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.IngredientsHeader{
    text-align: center;
    justify-content: center;
}

.ajustright{
    position: static;
   margin-left: 4vh;
}

.ajustup{
    position: static;
    margin-left: 4vh;
}

.switchRowCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexgrow{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.hidden{
    display: none;
}
.switchtopandbotom{
    position: sticky;
    top: 0;
    z-index: 1020;
    
}
.stickaddbutton{
    position: sticky;
    top: 3rem;
    z-index: 10;
    padding-top: 0.5em;
    background-color: #f4f5d9;
    /* box-shadow: 10px 0px 10px 1px #e7e8c9; */
} 
@media only screen and (min-width: 900px) {
    .switchRowCol{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
    }
    .movecenter{
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        margin: 1em;
    }
    .ajustright{
        position: absolute;
        left: calc(15vw - 7em);
        bottom: -3em;
    }
    .ajustup{
        position: absolute;
        left: calc(15vw - 7em);
        bottom: calc(100% - 11em - 30vw);
    }
    .switchtopandbotom{
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    
  }
  @media only screen and (max-width: 600px) {
    .stickaddbutton{
        position: sticky;
        top: 90vh;
        z-index: 10;
        background-color: hsl(64, 41%, 93%);
        padding-bottom: 1em;
    }
}