.listItem {
    cursor: pointer;
    background-color: #c2d0a1;
    border-radius: 1em;
    position: relative;

}
.image{
    width: 5em;
    height: 4em;
    margin: 1em;
    border-radius: 1em;
    border: 3px solid #ffffff;
}
.editButton{
    color:  #0d2714;
    background-color: #b6c399;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    width: 8em;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fullHeight{
    align-self: stretch;
    
}
.editContaier{
    align-self: stretch;
    right: 0;
    height: 100%;
    position:absolute;
}
.editButton:hover{
    background-color: #8d9a6e;
}

.content{
    min-width: 10em;

}
@media only screen and (max-width: 400px) {
    .description{
        display: none;
       
    }
    .editContaier{
        align-self: stretch;
        right: 0;
        height: 100%;
        
        position:absolute;
    }
    .editButton{
        flex-grow: 0.25;
        width: 3em;
    }
    
  }
  @media only screen and (min-width: 400px) {
    .description{
        display: block;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
    }
    
  }
  @media only screen and (max-width: 200px) {
    .image{
        display: none;
 
    }
    
  }