.nav {
    display: flex;
    width: 100%;
    background-color: #eeeca2;
    z-index: 3;
}

.meAuto {
    width: 100%;
    z-index: 3;
}


.navlink{
    justify-content: center;
    text-align: center;
    color:  #0d2714;
    text-decoration: none;
    background-color: #eeeca2;
    border: double 5px #eeeca2;
    padding: 1em;
    flex-grow: 1;
    z-index: 3;
}
.navlink:hover{
    background-color: #e1c79a;
    
}
@media only screen and (min-width: 600px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        background-color: #eeeca2;
        width: 100%;
        height: 5em;
        z-index: 3;
    }
    
  }
@media only screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        background-color: #eeeca2;
        width: 100%;
        height: 5em;
        z-index: 3;
    }
    
}