.body{
    background-color: hsl(64, 41%, 93%);
    padding-bottom: 5em;
    min-height: 100vh;
}
.bg-primary{
    background-color: #eeeca2; ;
}
@media only screen and (min-width: 600px) {
  .content {
    /* margin-top: 1em; */
    
  }
  
  }