.customCard > .cardImg {
    text-align: left;
}

.cardImg {
    float: left;
    margin: 0px 15px 15px 0px;
    max-width: 25%;
    max-height: 25%;
}

.cardText {
    margin-bottom: 0px;
}

.cardTextContainer {
    width: 100px;
}

.innerBodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemList {
    display: flex;

}

.wholeCard {
    margin-bottom: 20px;
}

.st0 {
    fill: none;
}

.iconContainer {
    /* display: flex;
    align-items: ; */
    margin-left: auto;
    margin-right: 0;
}