.queueList {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    /* TODO: Remove when the navbar is fixed and doens't overlap */
    margin-bottom: 100px;
}
.grow{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}