.searchicon{
    height: 2em;
    width: 2em;

}
.searchIconContainer{
    border:none;
    background-color: #00000000;
}
.container{
    border: 1px solid #000000;
    border-radius: 5px;
    width:14.5em;
}
